<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/cadastrar_fruta" method="post">
        <label for="nome">Nome: </label><br>
        <input type="text" name="nome" id="nome"><br>
        <label for="preco">preco: </label><br>
        <input type="text" name="preco" id="preco"><br>
        <label for="dataColheita">Data da Colheita: </label><br>
        <input type="date" name="dataColheita" id="dataColheita"><br>
        <label for="dataVencimento">Data de Vencimento: </label><br>
        <input type="date" name="dataVencimento" id="dataVencimento"><br>
        <label for="descricao">Descrição: </label><br>
        <textarea name="descricao" id="descricao" cols="30"></textarea><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>